<!DOCTYPE html>
<html ng-app="plWeb">
        <head>
                <title>{{ title }}</title>
                <script src="/static/js/angular.min.js"></script>
                <script src="/static/js/angular-resource.min.js"></script>

                <script src="/static/js/jquery-3.1.1.min.js"></script>

                <link rel="stylesheet" href="/static/css/bootstrap-3.3.7.min.css">
                <link rel="stylesheet" href="/static/css/bootstrap-theme-3.3.7.min.css">
                <script src="/static/js/bootstrap-3.3.7.min.js"></script>

                <script src="/static/js/bootstrap-colorpicker.js"></script>
                <!--<link rel="stylesheet" href="/static/css/bootstrap-colorpicker.min.css">-->

                <script src='/static/js/frontend.js'></script>
                <script>
                        $(document).ready(function(){
                        $('[data-toggle="tooltip"]').tooltip();
                        });
                </script>
                <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

                <meta name="viewport" content="width=device-width, initial-scale=1">
        </head> <body>
                {% block content %}{% endblock %}
                <div class="device-xs visible-xs"></div>
                <div class="device-sm visible-sm"></div>
                <div class="device-md visible-md"></div>
                <div class="device-lg visible-lg"></div>
        </body>
</html>
